<!doctype html>
<html class="no-js" lang="en-US">
<%- include('includes/header') -%>

<body>
    <header>
        <!-- Header Start -->
        <%- include('includes/navbar') %>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <%- include('includes/slider-area') %>
        <!-- slider Area End-->

        <!-- Featured_job_start -->
        <section class="featured-job-area p-5">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle ">
                            <span> Recent Job - <%=totalJobs  %>   </span>
                            <h2> Remote Jobs </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <% if (jobs.length > 0) { %>
                    <div class="col-xl-12">

                        <!-- single-job-content -->
                        <div class="single-job-items mb-10 advert-board">
                            <div class="job-items">
                                <div class="job-tittle">
                                    <a href="#">
                                        <h4> Advert Board </h4>
                                    </a>
                                    <ul>
                                        <li> Post your ad's here </li>

                                    </ul>
                                </div>

                            </div>

                        </div>

                        <!-- single-job-content -->
                        <% for (let job of jobs) { %>
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="/job-details/<%=job.slug %>"><img
                                            src="/homepage-vendors/img/icon/job-list1.png" alt=""></a>
                                </div>
                                <div class="job-tittle">
                                    <a href="/job-details/<%=job.slug %>">
                                        <h4> <%=job.position %></h4>
                                    </a>
                                    <ul>
                                        <li>
                                            <!-- <%=job.companyName %> -->
                                            Google Africa
                                        </li>
                                        <li><i class="fas fa-map-marker-alt"></i><%= job.locationAllowed %> </li>
                                        <li>$
                                            <%= job.minimumSalary %> - $ <%= job.maximumSalary %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link f-right">
                                <a href="/job-details/<%=job.slug %>">Full Time</a>
                                <span>
                                    <%= job.publicationDate.toLocaleString('en-us' , {  year: 'numeric', month: 'long', day: 'numeric' }) %>
                                </span>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <% } else { %>
                    <h1> No Jobs Posted </h1>
                    <% } %>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->


        <!--Pagination Start  -->
        <div class="pagination-area pb-115 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="single-wrap d-flex justify-content-center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><span
                                                class="ti-angle-right"></span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Pagination End  -->
    </main>

    <%- include('includes/footer') -%>